{% extends 'stylelogin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-sm-offset-4'>
<form method="post" action="">
    <div class='col-sm-11 col-sm-offset-1'>
        <h2 class='text-align-center'><strong>Iniciar Sesión</strong></h2><br/>
    </div>
    {% csrf_token %}
    {{ form|crispy }}
    <div class='col-sm-4 col-sm-offset-3'>
    <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
    
</form>
<div class='col-sm-11 col-sm-offset-1'>
<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
<p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
</div>
<div class='col-sm-11 col-sm-offset-1'>
<h3 class='text-align-center'><strong>Iniciar Sesión Con</strong></h3><br/>
    {% if not user.is_authenticated%}
    <a href="{% url 'social:begin' 'facebook' %}">
      <img src="https://es.gravatar.com/userimage/129557126/c73fdfe25aa4ca4b857a07ab7186137b.png">
    </a>
    <a href="{% url 'social:begin' 'twitter' %}">
        <img src="https://es.gravatar.com/userimage/129557126/b3612dfdbe3c0109ee582e898b3252ae.png">
    </a>
    {% else %}
        <h1>Bienvenido {{ user }}</h1>
        <a href="{% url 'salir' %}">LogOut</a>
    {% endif %}
    <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>
</div>
</div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
