{% extends "stylelogin.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
    <div class='col-sm-4 col-sm-offset-4'>
        <h2 style='text-align:center'><strong>Registrarte Gratis!</strong></h2><br/>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="text-align:center">
            <input class='btn btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
            </div>
        </form>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-5'>
        <p>Ya tienes cuenta? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p>
    </div>
</div>
{% endblock %}